In [13]:
"""
alpha_beta_app.py

Usage:
    streamlit run alpha_beta_app.py

Description:
    - Single-button approach that fetches raw data from Postgres for a user-chosen MSA & date range,
      then computes alpha/beta and plots the result.

"""

import streamlit as st
import pandas as pd
import psycopg2
import plotly.express as px
import statsmodels.api as sm

# ------------------------------
# 1) DB Credentials
# ------------------------------
DB_HOST = "localhost"
DB_PORT = "5433"
DB_NAME = "inquire_DB"
DB_USER = "postgres"
DB_PASS = "givedata"

# ------------------------------
# 2) MSA + National Config
# ------------------------------
NATIONAL_SERIES_ID = "CES0000000001"

# (Optional) If you need the name map for later expansions
name_map = {
    # National series
    "CES0000000001": "National",
    # 1) New York–Newark–Jersey City, NY–NJ–PA
    "SMS36356200000000001": "NYC Metro",
    # 2) Los Angeles–Long Beach–Anaheim, CA
    "SMS06310800000000001": "LA Metro",
    # 3) Chicago–Naperville–Elgin, IL–IN–WI
    "SMS17169800000000001": "Chicago Metro",
    # 4) Dallas–Fort Worth–Arlington, TX
    "SMS48191000000000001": "Dallas–Fort Worth",
    # 5) Houston–The Woodlands–Sugar Land, TX
    "SMS48264200000000001": "Houston",
    # 6) Washington–Arlington–Alexandria, DC–VA–MD–WV
    "SMS11479000000000001": "Washington DC",
    # 7) Philadelphia–Camden–Wilmington, PA–NJ–DE–MD
    "SMS42979610000000001": "Philadelphia",
    # 8) Miami–Fort Lauderdale–West Palm Beach, FL
    "SMS12331000000000001": "Miami",
    # 9) Atlanta–Sandy Springs–Roswell, GA
    "SMS13120600000000001": "Atlanta",
    # 10) Phoenix–Mesa–Scottsdale, AZ
    "SMS04380600000000001": "Phoenix",
    # 11) Boston–Cambridge–Newton, MA–NH
    "SMS25716540000000026": "Boston",
    # 12) San Francisco–Oakland–Berkeley, CA
    "SMS06418840000000001": "San Francisco–Oakland",
    # 13) Riverside–San Bernardino–Ontario, CA
    "SMS06401400000000001": "Riverside–San Bernardino",
    # 14) Detroit–Warren–Dearborn, MI
    "SMS26198200000000001": "Detroit",
    # 15) Seattle–Tacoma–Bellevue, WA
    "SMS53426600000000001": "Seattle",
    # 16) Minneapolis–St. Paul–Bloomington, MN–WI
    "SMS27334600000000001": "Minneapolis–St. Paul",
    # 17) San Diego–Chula Vista–Carlsbad, CA
    "SMS06417400000000001": "San Diego",
    # 18) Tampa–St. Petersburg–Clearwater, FL
    "SMS12453000000000001": "Tampa", # 19) Denver–Aurora–Lakewood, CO
    "SMS08197400000000001": "Denver",
    # 20) St. Louis, MO–IL
    "SMS29411800000000001": "St. Louis",
    # 21) Baltimore–Columbia–Towson, MD
    "SMS24925810000000001": "Baltimore",
    # 22) Charlotte–Concord–Gastonia, NC–SC
    "SMS37167400000000001": "Charlotte",
    # 23) Orlando–Kissimmee–Sanford, FL
    "SMS12367400000000001": "Orlando",
    # 24) San Antonio–New Braunfels, TX
    "SMS48417000000000001": "San Antonio",
    # 25) Portland–Vancouver–Hillsboro, OR–WA
    "SMS41389000000000001": "Portland",
    # 26) Pittsburgh, PA
    "SMS42383000000000001": "Pittsburgh",
    # 27) Sacramento–Roseville–Arden-Arcade, CA
    "SMS06409000000000001": "Sacramento",
    # 28) Las Vegas–Henderson–Paradise, NV
    "SMS32298200000000001": "Las Vegas",
    # 29) Cincinnati, OH–KY–IN
    "SMS39171400000000001": "Cincinnati",
    # 30) Kansas City, MO–KS
    "SMS20928120000000001": "Kansas City",
    # 31) Columbus, OH
    "SMS18180200000000001": "Columbus",
    # 32) Indianapolis–Carmel–Anderson, IN
    "SMS18269000000000001": "Indianapolis",
    # 33) Cleveland–Elyria, OH
    "SMS39174600000000001": "Cleveland",
    # 34) San Jose–Sunnyvale–Santa Clara, CA
    "SMS06419400000000001": "San Jose",
    # 35) Nashville–Davidson–Murfreesboro–Franklin, TN
    "SMS47349800000000001": "Nashville",
    # 36) Virginia Beach–Norfolk–Newport News, VA–NC
    "SMS51472600000000001": "Virginia Beach–Norfolk",
    # 37) Providence–Warwick, RI–MA
    "SMS44772000000000001": "Providence–Warwick",
    # 38) Milwaukee–Waukesha–West Allis, WI
    "SMS55333400000000001": "Milwaukee",
    # 39) Jacksonville, FL
    "SMS12272600000000001": "Jacksonville",
    # 40) Memphis, TN–MS–AR
    "SMS47328200000000001": "Memphis",
    # 41) Richmond, VA
    "SMS51400600000000001": "Richmond",
    # 42) Oklahoma City, OK
    "SMS40364200000000001": "Oklahoma City",
    # 43) Hartford–East Hartford–West, CT
    "SMU04380600000000001": "Hartford (?)",
    # 44) New Orleans–Metairie, LA
    "SMS22353800000000001": "New Orleans",
    # 45) Buffalo–Cheektowaga–Niagara Falls, NY
    "SMS36153800000000001": "Buffalo–Cheektowaga",
    # 46) Raleigh, NC
    "SMS37395800000000001": "Raleigh",
    # 47) Birmingham–Hoover, AL
    "SMS01138200000000001": "Birmingham–Hoover",
    # 48) Salt Lake City, UT
    "SMS49416200000000001": "Salt Lake City",
    # 49) Rochester, NY
    "SMS36403800000000001": "Rochester",
    # 50) Louisville/Jefferson County, KY–IN
    "SMS21311400000000001": "Louisville"
}

# ------------------------------
# 3) Function: fetch raw data from 'raw_nonfarm_jobs'
# ------------------------------
def fetch_raw_data(msa_id, start_ym, end_ym): 
    st.write(df_subset.dtypes)df_subset["value"] = (
    df_subset["value"]
    .astype(str)
    .str.replace(",", "")   # remove commas if any
    .astype(float)
)

    """
    Example: start_ym="2000-01", end_ym="2020-12"
    Returns a DataFrame with columns [series_id, obs_date, value].
    Includes both the user-chosen MSA plus the National series.
    """
    conn = psycopg2.connect(
        host=DB_HOST,
        port=DB_PORT,
        dbname=DB_NAME,
        user=DB_USER,
        password=DB_PASS
    )
    cur = conn.cursor()

    start_date_str = f"{start_ym}-01"
    end_date_str   = f"{end_ym}-01"

    sql = """
        SELECT series_id, obs_date, value
        FROM raw_nonfarm_jobs
        WHERE (series_id = %s OR series_id = %s)
          AND obs_date >= %s
          AND obs_date <= %s
        ORDER BY obs_date
    """
    params = (msa_id, NATIONAL_SERIES_ID, start_date_str, end_date_str)
    cur.execute(sql, params)
    rows = cur.fetchall()

    df = pd.DataFrame(rows, columns=["series_id", "obs_date", "value"])
    df["obs_date"] = pd.to_datetime(df["obs_date"])

    cur.close()
    conn.close()
    return df

# ------------------------------
# 4) Function: compute alpha/beta via OLS
# ------------------------------
def compute_alpha_beta(df_raw):
    """
    df_raw: columns = [series_id, obs_date, value], must contain both MSA + national.
    Returns a DataFrame with [msa_id, alpha, beta, r_squared].
    """
    df_pivot = df_raw.pivot(index="obs_date", columns="series_id", values="value").dropna()

    if NATIONAL_SERIES_ID not in df_pivot.columns:
        return None

    # Identify the MSA column (assuming only one MSA besides national)
    possible_cols = [c for c in df_pivot.columns if c != NATIONAL_SERIES_ID]
    if not possible_cols:
        return None  # No MSA column found

    msa_col = possible_cols[0]

    # Regress MSA vs. national using OLS
    merged = df_pivot[[NATIONAL_SERIES_ID, msa_col]].dropna()
    if len(merged) < 2:
        return None

    X = sm.add_constant(merged[NATIONAL_SERIES_ID])  # for alpha
    y = merged[msa_col]
    model = sm.OLS(y, X).fit()

    alpha = model.params["const"]
    beta  = model.params[NATIONAL_SERIES_ID]
    r_sq  = model.rsquared

    df_ab = pd.DataFrame({
        "msa_id":    [msa_col],
        "alpha":     [alpha],
        "beta":      [beta],
        "r_squared": [r_sq]
    })
    return df_ab

# ------------------------------
# 5) Main Streamlit flow
# ------------------------------
def main():
    st.title("Fetch + Compute Alpha/Beta (One Button)")

    # Unique keys so Streamlit doesn't conflict
    chosen_msa = st.text_input(
        label="Enter MSA ID (e.g. 'SMS13120600000000001')",
        value="SMS13120600000000001",
        key="msa_id_key"
    )
    start_ym = st.text_input(
        label="Start (YYYY-MM)",
        value="2010-01",
        key="start_ym_key"
    )
    end_ym = st.text_input(
        label="End (YYYY-MM)",
        value="2024-12",
        key="end_ym_key"
    )

    # Single button to run everything
    if st.button("Fetch + Compute Alpha/Beta", key="fetch_compute_button"):
        # 1) Fetch data from DB
        df_subset = fetch_raw_data(chosen_msa, start_ym, end_ym)
        st.write(f"Fetched {len(df_subset)} rows (MSA + National).")
        st.dataframe(df_subset.head(20))

        if df_subset.empty:
            st.warning("No data found. Check your MSA or date range.")
            return

        # 2) Compute alpha/beta
        df_ab = compute_alpha_beta(df_subset)
        if df_ab is None:
            st.error("Could not compute alpha/beta. Possibly no overlapping data or missing national row.")
            return

        st.write("Alpha/Beta Results:")
        st.dataframe(df_ab)

        # 3) Plot
        fig = px.scatter(
            df_ab,
            x="beta",
            y="alpha",
            text="msa_id",
            hover_data=["r_squared"],
            title="Alpha vs. Beta (Date Range: {} to {})".format(start_ym, end_ym)
        )
        fig.update_traces(textposition='top center')
        st.plotly_chart(fig, use_container_width=True)


if __name__ == "__main__":
    main()

SyntaxError: invalid syntax (1040979023.py, line 142)